@font-face {
  font-family: 'Campton';
  font-weight: 'normal';
  font-style : 'normal';
  src: 
          url('https://sacdemo.github.io/Athena/Campton-Bold.ttf') format('truetype');
      }
  
