@font-face {
  font-family: 'Campton';
  font-weight: 'normal';
  font-style : 'normal';
  src: 
       url('https://sacdemo.github.io/Athena/Campton-Bold.eot?#iefix') format('embedded-opentype'),  
       url('https://sacdemo.github.io/Athena/Campton-Bold.otf')  format('opentype'),
       url('https://sacdemo.github.io/Athena/Campton-Bold.woff') format('woff'), 
       url('https://sacdemo.github.io/Athena/fonts/Campton-Bold.ttf')  format('truetype'), 
       url('https://sacdemo.github.io/Athena/fonts/Campton-Bold.svg#Campton-Bold') format('svg');
 }
  
