@font-face {
  font-family: 'Campton';
  src: 
       url('https://sacdemo.github.io/Athena/Campton-Bold.ttf') format('truetype');
		   font-weight: 'normal';
		   font-style : 'normal';
      }
