@font-face {
  font-family: 'Campton';
  font-weight: bold;
  src: url('../Fonts/Campton-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../Fonts/Campton-Bold.otf')  format('opentype'),
       url('../Fonts/Campton-Bold.woff') format('woff'), 
       url('../Fonts/Campton-Bold.ttf')  format('truetype'), 
       url('../Fonts/Campton-Bold.svg#Campton-Bold') format('svg');
 }
